@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: gray;
    color: white;
    padding: 10px;
    /*border: 3px solid red;*/
    
    /*Configurações Flexbox*/

    display: flex; /*Transforma em flexbox*/
    flex-flow: row wrap; /*Define eixo em linha e com quebra*/
    justify-content: space-between;/*Espaçamento igual entre eles, como possui apenas 2 items, aplica o espaçamento ao centro e cada item fica alinhada as bordas esquerda e direita*/
    align-items: center;/*alinha os textos ao centro na vertical*/


}
header > h1{ /*Título Meu Site*/
    /*border: 1px dotted black;*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);

    /*Configurações Flexbox*/
    
    flex: 0 0 200px; /*flex: grow shrink basis, não crescer, não diminuir, tamanho fixo em 200px */
}
header > nav{ /*Menu*/
    /*border: 1px dotted black;*/

    /*Configurações Flexbox*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;/*Alinhamento ao fim do container (menu ficará a direita da página)*/
}
header nav > a{ /*Menu > Links*/
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover{ /*Quando mouse estiver sobre items do menu, efeitos de animação*/
    background-color: white;
    color: black;
    transition: background-color 0.5s;
}


main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.441);
}